# ------------------------------
# General
# ------------------------------
node_modules/
.env
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ------------------------------
# Backend
# ------------------------------
backend/node_modules/
backend/.env
backend/dist/
backend/coverage/

# ------------------------------
# Frontend
# ------------------------------
frontend/node_modules/
frontend/.env
frontend/build/
frontend/dist/
frontend/coverage/

# Optional: Mac system files
Thumbs.db
*.swp
